{% extends 'driver/base.html' %}
{% block title %} Request A Driver {%endblock%}

{%block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="panel panel-default">
				<div class="panel-body">
					<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
						{% for field in form %}
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<span class="text-danger small">{{ field.errors }}</span>
								</div>
								<label class = "control-label col-sm-2">{{ field.label_tag }}</label>
								<div class="col-sm-10">
									{{field}}
								</div>
							</div>
						{% endfor %}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}