
hello

{% for request in requests %}

<form method="post">

    {% csrf_token %}
    customer first name:{{ request.customer.first_name}} <br>
    customer last name:{{ request.customer.last_name}} <br>
    customer current location:{{ request.journey.currentLocation}} <br>
    customer destination:{{ request.journey.destination}} <br>
    customer no passengers:{{ request.journey.noOfPassengers}} <br>
    <input type="hidden" name="request_id" value="{{request.id}}">
    <select name="rstate">
        {% if request.state == "DECLINED" %}
        <option value="DECLINED">Declined</option>
        <option value="APPROVED">Approved</option>
        {% else %}
        <option value="APPROVED">Approved</option>
        <option value="DECLINED">Declined</option>
        {% endif %}
      </select>

    <input type="submit" value="Submit"/>

</form>

{% endfor %}